<% if additional_objects_changes.any? %>
  <h3>Related object changes</h3>
  <table class='diff'>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Removed</th>
        <th>Added</th>
      </tr>
    </thead>
    <tbody>
      <% additional_objects_changes.each do |attr, changes|
        added = changes['+']
        removed = changes['-']
        old_class, new_class = versions_diff_classes(removed, added)
      %>
        <tr>
          <td class='attr-name'><%= attr.humanize %></td>
          <td class='<%= old_class %>'>
            <% if removed %>
            <ul>
              <% removed.each do |removed_item| %>
                <li><%= pretty_version_attribute_value(attr, removed_item) %></li>
              <% end %>
            </ul>
            <% end %>
          </td>
          <td class='<%= new_class %>'>
            <% if added %>
            <ul>
              <% added.each do |added_item| %>
                <li><%= pretty_version_attribute_value(attr, added_item) %></li>
              <% end %>
            </ul>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
